.DS_Store
node_modules
.env
coverage/*
npm-debug.log
.idea
yarn.lock
js
weather.zip
baselineEToData/*.bin
baselineEToData/*.png
baselineEToData/*.tif
baselineEToData/dataPreparer[.exe]
observations.json
geocoderCache.json
